[submodule "contracts/ds-test"]
	path = contracts/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "contracts/openzeppelin-contracts"]
	path = contracts/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts@v3.4.2-solc-0.7
[submodule "contracts/cozy-protocol-v2"]
	path = contracts/cozy-protocol-v2
	url = https://github.com/Cozy-Finance/cozy-protocol-v2
[submodule "contracts/cozy-triggers-v2-simulation"]
	path = contracts/cozy-triggers-v2-simulation
	url = https://github.com/Cozy-Finance/cozy-triggers-v2-simulation
[submodule "contracts/cozy-models-v2-simulation"]
	path = contracts/cozy-models-v2-simulation
	url = https://github.com/Cozy-Finance/cozy-models-v2-simulation
[submodule "contracts/canonical-weth"]
	path = contracts/canonical-weth
	url = https://github.com/gnosis/canonical-weth
[submodule "contracts/cozy-simulation-contracts"]
	path = contracts/cozy-simulation-contracts
	url = https://github.com/Cozy-Finance/cozy-simulation-contracts
